*{
    margin: 0;
    padding: 0;
}


body {
    background: rgb(54,77,204);
    background: linear-gradient(176deg, rgba(54,77,204,1) 0%, rgba(19,35,124,1) 100%);
    font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
  }

.avatar {
    width: 100px;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0 0 20px white; 
    margin-top: 20px;
    margin-bottom: 0; 
}

.profile {
    color: white;
    text-align: center;
    
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
    margin-top: 2px;
}

h2 {
    font-size: 16px;
    margin-top: 0px;
}

.social {
       display: flex;
       list-style: none;
       justify-content: center;
       justify-content: space-between;
       justify-content: space-around;
       margin-top: 20px;
       margin-bottom: 20px;
       
       
}

.social img {
    width: 35px;
}

.links-list li a {
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 10PX;
    text-decoration: none;
    color: #364DCC;
    font-weight: bold;
    text-align: left;
    box-shadow: 0 0 20px white;
    margin: 0 5px;
}

.links-list li {
    margin: 10px 20px;
    list-style: none;
   
}

.links-list li a span {
    display: block;
    color: gray;
    margin-top: 10px;
}

